<!-- <div class="panel-heading">
    <h1 class="text-center">Bienvenido a MiRuta</h1>
</div>
<div class="panel-body">
    <img class="center-block" src="/MiRuta_2017/public/src/img/home_image.jpg" height="460px">
</div> -->

<navuser></navuser>
<!-- <navigation></navigation> -->
<div class="container">
    <h2>Bienvenidos a MiRuta</h2>
    <p>Una aplicacion de desarrollo personal con la intencion de aprobar la pu.. materia de desarrollo.</p>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Algo mas</h4>
        </div>
    </div>
</div>