<navadmin></navadmin>
<div class="row" ng-controller="adminRecorridoController_v1">
    <div class="card col-sm-6 col-md-3" style="text-align: center">

        <div class="card">
            <button class="btn btn-primary" type="button" ng-click="selectCreate()" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Creación de recorridos
            </button>
        
            <div class="collapse" id="collapseThree">
                <div class="card card-body">
                    <!-- Contenido boton3. -->
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Seleccione una unidad de transporte</label>
                            <div id="collapseThree" class="collapse show" aria-labelledby="headingCreate" data-parent="#accordion">
                                <div class="card-body">
                                    <select class="custom-select" id="repeatSelect" ng-model="nombreUnidadSeleccionada">
                                        <option ng-repeat="unidad in nombreUnidades | orderBy">{{unidad}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ng-hide="!nombreUnidadSeleccionada">
                            <label for="exampleInputEmail1">Seleccione el recorrido que desea crear y marque los puntos en el mapa</label>
                        </div>
                        <div class="form-group" ng-hide="!nombreUnidadSeleccionada">
                            <button id="botonIda" type="button" class="btn btn-info" ng-click="selectBotonIda()" ng-hide="">Ida</button>
                            <button id="botonVuelta" type="button" class="btn btn-info" ng-click="selectBotonVuelta()" ng-hide="">Vuelta</button>
                        </div>
                        <div class="text-center btn-group-sm" ng-hide="!nombreUnidadSeleccionada">
                            <label for="cantPtosRecorrido">Puntos del recorrido: {{ptosRecorrido}}</label>
                            <br>
                            <button type="button" class="btn btn-info" ng-click="borrarUltimo()" ng-hide="!hayParada()">Borrar ultimo</button>
                            <button type="button" class="btn btn-danger" ng-click="resetDatosRecorrido()" ng-hide="!hayParada()">Borrar todo</button>
                        </div>
                        <hr>
                        <div class="text-center btn-group-sm">
                            <button type="button" class="btn btn-success" ng-click="guardarRecorrido()" ng-disabled="!recorridoCorrecto()">Guardar recorrido</button>
                            <button type="button" class="btn btn-danger" ng-click="">Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
            
        <button class="btn btn-primary" type="button" ng-click="selectElim()" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                aria-controls="collapseTwo">
                 Eliminación de recorridos
        </button>
        
        <div class="collapse" id="collapseTwo">
            <div class="card card-body">
                 <!-- Contenido boton2. -->
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Seleccione una unidad de transporte</label>
                            <div id="collapseTwo" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body">
                                    <select class="custom-select" ng-change="changeUnidad()" id="repeatSelect" ng-model="nombreUnidadSeleccionadaElim">
                                        <option ng-repeat="nombreUnidad in nombreUnidades | orderBy">{{nombreUnidad}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="form-group" ng-hide="unidadConRecorrido">
                            <label for="exampleInputEmail1">La unidad no cuenta con un recorrrido</label>
                        </div>
                        <div class="text-center btn-group-sm">
                            <button type="button" class="btn btn-success" ng-click="eliminarRecorrido()" ng-disabled="!lineaSeleccionada">Eliminar recorrido</button>
                            <button type="button" class="btn btn-danger" ng-click="">Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
    
    <!-- Columnas de la parte del mapa -->
    <div class="card col-sm-6 col-md-9">
        <div id="map" class="map" style="position: relative;"></div>
    </div>
</div>

