<navadmin></navadmin>
<div class="row" ng-controller="adminRecorridoController">
    <div class="card col-sm-6 col-md-3" style="text-align: center">
        <div class="card-header">
            <h6>Administracion de recorridos</h6>
        </div>
        <div class="card-body">
            <div id="accordion">
                <div class="card">
                    <div class="card-header" id="headingCreate">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseCreate" aria-expanded="false" aria-controls="collapseOne">
                                Creacion de recorridos
                            </button>
                        </h5>
                    </div>
                    <div id="collapseCreate" class="collapse" aria-labelledby="headingCreate" data-parent="#accordion">
                        <div class="card-body">
                            <form>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Seleccione una unidad de transporte</label>
                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingCreate" data-parent="#accordion">
                                        <div class="card-body">
                                            <select class="custom-select" id="repeatSelect" ng-model="nombreUnidadSeleccionada">
                                                <option ng-repeat="unidad in nombreUnidades | orderBy">{{unidad}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                
                                <hr>
                                <div class="form-group" ng-hide="!nombreUnidadSeleccionada">
                                    <label for="exampleInputEmail1">Marque un punto en el mapa</label>
                                </div>
                                <div class="form-group" ng-hide="!nombreUnidadSeleccionada">
                                    <input type="email" class="form-control" id="email" value="Parada de recorrido n° {{cantParadas}}" readonly></input>
                                </div>
                                <div class="well" ng-hide="!nombreUnidadSeleccionada">
                                    <input type="email" class="form-control" id="email" value="{{direccionParada}}" readonly></input>
                                </div>
                                <br>
                                <div class="text-center btn-group-sm" ng-hide="!nombreUnidadSeleccionada">
                                    <button type="button" class="btn btn-info" ng-click="borrarUltimo()">Borrar ultimo</button>
                                    <button type="button" class="btn btn-danger" ng-click="resetDatosRecorrido()">Borrar todo</button>
                                </div>
                                <br>
                                <div class="form-group" ng-hide="!nombreUnidadSeleccionada">
                                    <label for="cantPtosRecorrido">Puntos del recorrido: {{cantParadas}}</label>
                                    <label for="unidad">Unidad: {{nombreUnidadSeleccionada}}</label>
                                </div>
                                <br>
                                <div class="text-center btn-group-sm">
                                    <button type="button" class="btn btn-success" ng-click="guardarRecorrido()">Guardar recorrido</button>
                                    <button type="button" class="btn btn-danger" ng-click="">Cancelar</button>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Seleccione una unidad de transporte</label>
                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingCreate" data-parent="#accordion">
                                        <div class="card-body">
                                            <select class="custom-select" id="repeatSelect" ng-model="nombreUnidadSeleccionada">
                                                <option ng-repeat="unidad in nombreUnidades | orderBy">{{unidad}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-body">
            <div id="accordion">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseRemove" aria-expanded="true" aria-controls="collapseOne">
                                Eliminacion de recorridos
                            </button>
                        </h5>
                    </div>
                    <div id="collapseRemove" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <form>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Seleccione una unidad de transporte</label>
                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                        <div class="card-body">
                                            <select class="custom-select" id="repeatSelect" ng-model="nombreUnidadSeleccionadaElim">
                                                <option ng-repeat="nombreUnidad in nombreUnidades | orderBy">{{nombreUnidad}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="form-group" ng-hide="unidadConRecorrido">
                                    <label for="exampleInputEmail1">La unidad no cuenta con un recorrrido</label>
                                </div>
                                <br>
                                <div class="text-center btn-group-sm">
                                    <button type="button" class="btn btn-success" ng-click="eliminarRecorrido()">Eliminar recorrido</button>
                                    <button type="button" class="btn btn-danger" ng-click="">Cancelar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="card-body">
            <div id="accordion">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseCreate1" aria-expanded="true" aria-controls="collapseOne">
                                Creacion de recorridos v1
                            </button>
                        </h5>
                    </div>
                    <div id="collapseCreate1" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <form>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Seleccione una unidad de transporte</label>
                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                        <div class="card-body">
                                            <select class="custom-select" id="repeatSelect" ng-model="nombreUnidadSeleccionadaElim">
                                                <option ng-repeat="nombreUnidad in nombreUnidades | orderBy">{{nombreUnidad}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="form-group" ng-hide="!nombreUnidadSeleccionada">
                                    <label for="exampleInputEmail1">Marque un punto en el mapa</label>
                                </div>
                                <div class="form-group" ng-hide="!nombreUnidadSeleccionada">
                                    <input type="email" class="form-control" id="email" value="Parada de recorrido n° {{cantParadas}}" readonly></input>
                                </div>
                                <div class="well" ng-hide="!nombreUnidadSeleccionada">
                                    <input type="email" class="form-control" id="email" value="{{direccionParada}}" readonly></input>
                                </div>
                                <br>
                                <div class="text-center btn-group-sm" ng-hide="!nombreUnidadSeleccionada">
                                    <button type="button" class="btn btn-info" ng-click="borrarUltimo()">Borrar ultimo</button>
                                    <button type="button" class="btn btn-danger" ng-click="resetDatosRecorrido()">Borrar todo</button>
                                </div>
                                <br>
                                <div class="form-group" ng-hide="!nombreUnidadSeleccionada">
                                    <label for="cantPtosRecorrido">Puntos del recorrido: {{cantParadas}}</label>
                                    <label for="unidad">Unidad: {{nombreUnidadSeleccionada}}</label>
                                </div>
                                <br>
                                <div class="text-center btn-group-sm">
                                    <button type="button" class="btn btn-success" ng-click="guardarRecorrido()">Guardar recorrido</button>
                                    <button type="button" class="btn btn-danger" ng-click="">Cancelar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>

    <div class="card col-sm-6 col-md-9">
        <!-- <div class="container-fluid-map"> -->
            <!-- <div id="map" class="map" style="position: fixed;"></div> -->
            <div id="map" class="map" style="position: relative;"></div>
        <!-- </div> -->
    </div>
</div>