<div class="container" ng-controller="adminInitController">
    <div class="row">
        <div class="col-sm-6 col-md-4 offset-md-4">
            <h1 class="text-center login-title">Acceder a la pantalla de mantenimiento</h1>
            <div class="account-wall">
                <img class="profile-img" src="/MiRuta_2017/public/src/img/user.jpg" alt="">
                <form class="form-signin">
                    <input type="text" class="form-control" ng-model="user.nombre" placeholder="Nombre de usuario" required autofocus="">
                    <input type="password" class="form-control" ng-model="user.pass" placeholder="Contraseña" required>
                    <button class="btn btn-lg btn-primary btn-block" ng-click="login()" type="submit">
                        Acceder</button>
                </form>
            </div>
        </div>
    </div>
</div>