<navadmin></navadmin>
<div class="row" ng-controller="adminTransportesController">
    <div class="card col-sm-6 col-md-3" style="text-align: center">
        <div class="card-header">
            <h6>Administracion de unidades</h6>
        </div>

        <!-- ################################# CREACION #################################
            ########################################################################### -->
        <div class="card-body">
            <div id="accordion">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" ng-click="resetFlags()" data-toggle="collapse" data-target="#collapseCreate" aria-expanded="true" aria-controls="collapseOne">
                                Creacion de unidades
                            </button>
                        </h5>
                    </div>
                    <div id="collapseCreate" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionCreacion">
                        <div class="card-body">
                            <form>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Datos de la unidad</label>
                                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                                        ng-model="dataUnidadCreate.nombre" placeholder="Nombre" required>
                                </div>
                                <div class="form-group">
                                    <input type="number"  min="5" max="59" step="5" data-number-to-fixed="2" data-number-stepfactor="0"
                                        class="form-control currency" id="c2" ng-model="dataUnidadCreate.frecuencia" placeholder="Frecuencia(min)" required/>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Precio del boleto</label>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text">$</span>
                                        <input type="number" value={{intPrecioCreate}} min="0" step="1" data-number-to-fixed="2" data-number-stepfactor="0" class="form-control currency"
                                            id="c2" ng-model="intPrecioCreate" placeholder="00" required/>
                                        <span class="input-group-text">.</span>
                                        <input type="number" value={{decPrecioCreate}} min="0" max="75" step="25" data-number-to-fixed="2" data-number-stepfactor="0" class="form-control currency"
                                            id="c2" ng-model="decPrecioCreate" placeholder="00" required/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Horario de recorrido</label>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text">Inicio</span>
                                        <input type="number" value={{dataUnidadCreate.horaInicio}} min="0" max="23" step="1" data-number-to-fixed="2" data-number-stepfactor="0"
                                            class="form-control currency" id="c2" ng-model="dataUnidadCreate.horaInicio" placeholder="hh" required/>
                                        <span class="input-group-text">:</span>
                                        <input type="number" value={{dataUnidadCreate.minInicio}} min="0" max="55" step="5" data-number-to-fixed="2" data-number-stepfactor="0"
                                            class="form-control currency" id="c2" ng-model="dataUnidadCreate.minInicio" placeholder="mm" required/>
                                    </div>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text">Fin</span>
                                        <input type="number" value={{dataUnidadCreate.horaFin}} min="0" max="23" step="1" data-number-to-fixed="2" data-number-stepfactor="0"
                                            class="form-control currency" id="c2" ng-model="dataUnidadCreate.horaFin" placeholder="hh" required/>
                                        <span class="input-group-text">:</span>
                                        <input type="number" value={{dataUnidadCreate.minFin}} min="0" max="55" step="5" data-number-to-fixed="2" data-number-stepfactor="0"
                                            class="form-control currency" id="c2" ng-model="dataUnidadCreate.minFin" placeholder="mm" required/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Seleccione una empresa</label>
                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionCreacion">
                                        <div class="card-body">
                                            <!-- <select class="custom-select" id="repeatSelect0" ng-model="nombreEmpresaSeleccionada">
                                                <option ng-repeat="empresa in empresas">{{empresa.nombre}}</option>
                                            </select> -->
                                            <select class="custom-select" ng-change="selectedEmpresaCreate()" ng-model="empresaSeleccionadaCreate" ng-options="empresa.nombre for empresa in empresas | orderBy:'nombre' track by empresa.id"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="alert alert-danger" ng-hide="datosCorrectos">
                                    Datos incorrectos!
                                </div>
                                <div class="alert alert-success" ng-hide="!guardadoExitoso">
                                    Unidad guardada!
                                </div>
                                <div class="text-center btn-group-sm">
                                    <button type="submit" class="btn btn-success" ng-click="crearUnidad()">Crear</button>
                                    <button type="button" class="btn btn-danger" ng-click="">Cancelar</button>
                                    <button type="button" class="btn btn-info" ng-click="limpiarDatos()">Limpiar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- ################################# EDICION #################################
        ########################################################################### -->
        <div class="card-body">
            <div id="accordion">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" ng-click="resetFlags()" data-toggle="collapse" data-target="#collapseEdit" aria-expanded="true" aria-controls="collapseOne">
                                Edicion de unidades
                            </button>
                        </h5>
                    </div>
                    <div id="collapseEdit" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionEdition">
                        <div class="card-body">
                            <form>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Seleccione una unidad de transporte</label>
                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionEdition">
                                        <div class="card-body">
                                            <!-- <select class="custom-select" id="repeatSelect" ng-model="nombreUnidadSeleccionada" ng-change="change()">
                                                <option ng-repeat="unidad in unidades">{{unidad.nombre}}</option>
                                            </select> -->
                                            <select class="custom-select" ng-change="changeUnidad()" ng-model="unidadSeleccionada" ng-options="unidad.nombre for unidad in unidades | orderBy:'nombre' track by unidad.id"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" ng-hide="!unidadSel">
                                    <label for="exampleInputEmail1">Nombre</label>
                                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                                         ng-model="nombreUnidadSelUpdate" required />
                                </div>
                                <div class="form-group" ng-hide="!unidadSel">
                                    <label for="exampleInputEmail1">Frecuencia</label>
                                    <input type="number" value={{unidadSeleccionada.frecuencia}} min="5" max="59" step="5" data-number-to-fixed="2" data-number-stepfactor="0"
                                        class="form-control currency" id="c2" ng-model="unidadSeleccionada.frecuencia" />
                                </div>
                                <div class="form-group" ng-hide="!unidadSel">
                                    <label for="exampleInputEmail1">Precio del boleto</label>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text">$</span>
                                        <input type="number" value={{intPrecioUpdate}} min="0" step="1" data-number-to-fixed="2" data-number-stepfactor="0" class="form-control currency"
                                            id="c2" ng-model="intPrecioUpdate"/>
                                        <span class="input-group-text">.</span>
                                        <input type="number" value={{decPrecioUpdate}} min="0" max="75" step="25" data-number-to-fixed="2" data-number-stepfactor="0" class="form-control currency"
                                            id="c2" ng-model="decPrecioUpdate"/>
                                    </div>
                                </div>
                                <div class="form-group" ng-hide="!unidadSel">
                                    <label for="exampleInputEmail1">Horario de recorrido</label>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text">Inicio</span>
                                        <input type="number" value={{unidadSeleccionada.horaInicio.hour}} min="0" max="23" step="1" data-number-to-fixed="2" data-number-stepfactor="0" class="form-control currency"
                                            id="c2" ng-model="unidadSeleccionada.horaInicio.hour"/>
                                        <span class="input-group-text">:</span>
                                        <input type="number" value={{unidadSeleccionada.horaInicio.minute}} min="0" max="55" step="5" data-number-to-fixed="2" data-number-stepfactor="0" class="form-control currency"
                                            id="c2" ng-model="unidadSeleccionada.horaInicio.minute"/>
                                    </div>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text">Fin</span>
                                        <input type="number" value={{unidadSeleccionada.horaFin.hour}} min="0" max="23" step="1" data-number-to-fixed="2" data-number-stepfactor="0" class="form-control currency"
                                            id="c2" ng-model="unidadSeleccionada.horaFin.hour"/>
                                        <span class="input-group-text">:</span>
                                        <input type="number" value={{unidadSeleccionada.horaFin.minute}} min="0" max="55" step="5" data-number-to-fixed="2" data-number-stepfactor="0" class="form-control currency"
                                            id="c2" ng-model="unidadSeleccionada.horaFin.minute"/>
                                    </div>
                                </div>
                                <div class="form-group" ng-hide="!unidadSel">
                                    <label for="exampleInputEmail1">Empresa responsable</label>
                                    <!-- <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" ng-model="nombreEmpresaActual"
                                        required /> -->
                                    <label for="exampleInputEmail1">{{nombreEmpresaActual}}</label>
                                </div>
                                <div class="form-group" ng-hide="!unidadSel">
                                    <label for="exampleInputEmail1">Asignar nueva empresa</label>
                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionEdition">
                                        <div class="card-body">
                                            <select class="custom-select" ng-change="changeEmpresa()" ng-model="empresaNuevaSeleccionadaUpdate" ng-options="empresa.nombre for empresa in empresas | orderBy:'nombre' track by empresa.id"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="alert alert-danger" ng-hide="datosCorrectos">
                                    Datos incorrectos!
                                </div>
                                <div class="alert alert-success" ng-hide="!actualizacionCorrecta">
                                    Actualizacion exitosa!
                                </div>
                                <div class="text-center btn-group-sm">
                                    <button type="submit" class="btn btn-success" ng-click="actualizarUnidad()">Guardar</button>
                                    <button type="button" class="btn btn-info" ng-click="">Cancelar</button>
                                    <button type="button" class="btn btn-danger" ng-click="eliminarunidad()">Eliminar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--########################################################################### -->
    </div>

    <div class="card col-sm-6 col-md-9">
        <div class="container-fluid-map">
            <div id="map" class="map" style="position: fixed;"></div>
        </div>
    </div>
</div>