<navadmin></navadmin>
<div class="jumbotron">
    <h1 style="text-align:center" class="h1-responsive">Bienvenido al sector de administracion de MiRuta!</h1>
    <br>
    <p class="lead">Esta seccion esta creada con el fin de poder administrar los componentes con los que funcionan la aplicacion y darle soporte a la misma para brindarle un correcto funcionamiento al usuario.</p>
    <hr class="my-2">
    <p>Mas abajo podra visualizar unas guias de ayuda.
    </p>
    <a style="text-align:center" class="btn btn-primary btn-lg waves-light" role="button" mdbRippleRadius>Aprender mas</a>
</div>