<navuser></navuser>
<div class="container" ng-controller="registroController" >
    <div class="row">
        <div class="col-sm-6 col-md-4 offset-md-4">
            <h1 class="text-center login-title">Registrar usuario</h1>
            <div class="account-wall">
                <img class="profile-img" src="/MiRuta_2017/public/src/img/user.jpg" alt="">
                <form class="form-signin">
                    <input type="text" class="form-control" placeholder="Nombre y apellido" 
                         ng-model="usuario.nombre" required autofocus>
                    <input type="text" class="form-control" placeholder="Email"
                         ng-model="usuario.mail" required autofocus>
                    <input type="password" class="form-control" placeholder="Contraseña"
                         ng-model="usuario.pass" required>
                    <input type="password" class="form-control" placeholder="Confirmar contraseña"
                         ng-model="passConfirmacion" required>
                    <div class="alert alert-danger" ng-hide="datosCorrectos" style="text-align: center">
                        {{errorRegistro}}
                    </div>
                    <div class="alert alert-success" ng-hide="!usuarioCreado" style="text-align: center">
                        USUARIO CREADO!
                    </div>
                    <button class="btn btn-lg btn-info btn-block" type="submit"
                    ng-click="registrarUsuario()">Registrar</button>
                    <a href="#/login" class="pull-right need-help">Iniciar sesion? </a>
                    <span class="clearfix"></span>
                </form>
            </div>
        </div>
    </div>
</div>