<navuser></navuser>
<!-- <navigation></navigation> -->
<div class="row" ng-controller="mapInitController">
    <div class="card col-sm-6 col-md-3">
        <div class="card-header">
            Busqueda de recorridos
        </div>
    </div>

    <div class="card col-sm-6 col-md-9">
        <div class="card-header">
            Este si es el MAPA.
        </div>
        
        <!-- <div class="card-block container-fluid-map">
            <div id="map" class="map" style="position: fixed;"></div>
            <h3>SI CHOLITA EN ESO ANDO!! B-)</h3>
        </div> -->
        <div class="container-fluid-map">
            <div id="map" class="map" style="position: fixed;"></div>
        </div>
    </div>
</div>

<!-- <div class="row" ng-controller="mapInitController">
    <div class="card-block container-fluid-map">
        <div id="map" class="map" style="position: fixed;"></div>
    </div>
</div> -->